.idea
__pycache__/

*.log
llm_access/api_key_qwen.txt
llm_access/api_key_openai.txt
output_img/
cache/
output_store/ask-graph/*.png
output_store/ask-graph/*.html
output_store/ask-graph/tmp_imgs/*.png.txt
output_store/ask-graph/tmp_imgs/*.html.txt
output_store/ask-echart/*.png
output_store/ask-echart/*.html
output_store/ask-echart/tmp_imgs/*.png.txt
output_store/ask-echart/tmp_imgs/*.html.txt
output_store/data_log/*.csv
tmp_imgs/*.png
tmp_imgs/*.html
tmp_img/*.png
tmp_img/*.html
gened_questions/*.csv

training/saves/*.pth
training/train_logs/*.csv

.temp